.address{
   
    height: 100px;
    margin-top: 230px;
    font-size: 24px;
    
    
}
/* .address-city{
    position: absolute;
    
    border-radius: 5px;
    color: white;
    width: 106px;
    height: 28px;
    margin-right: 24px;
   
} */
.address-city #city-select{
    position: absolute;
    color: #000;
    border-radius: 5px;
    width: 106px;
    height: 42px;
    font-size: 16px;
    margin-left: 10%;
    
}

.address-district #dis-select{
    position: absolute;
    width: 175px;
    height: 42px;
    border-radius: 5px;
    color: #000;
    margin-left: 30%;
    font-size: 16px;
    
   
}
.address-pitch #pitch-select{
    position: absolute;
    width: 150px;
    height: 42px;
    border-radius: 5px;
    color: #000;
    margin-left: 50%;
    font-size: 16px;
    display: inline-block;
    
}

.address-search input{
    
    width: 250px;
    height: 42px;
    opacity: 0.5;
    border-radius: 5px;
    display: inline-block;
   
}
.address-search {
    display: inline-block;
    width: 250px;
    height: 42px;
    opacity: 0.5;
    border-radius: 5px;
    margin-left: 65%;
    
    
}

.btn-search button{
    float: right;
    margin: -44px;
    width: 150px;
    margin-right: 450px;
    height: 42px;
    border-radius: 5px;
    background: #00CCFF;
    
}
.input-icon{
    margin: -44px;
    margin-left: 218px;
}