html{
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
    position: relative;
    width: 2650px;
    height: 1200px;
    
    
}
.imgheading{
    margin: 60px 30px 0 30px;
   position: absolute;
   width: 2650px;
   height: 1200px;
   
}
.heading-nav{
   
    position: absolute;
    
    width: 2650px;
    margin: 60px 30px 0 30px;

}
.nav li{
    display: inline-block;
    
}
.nav li a{
    color: #000 ;
    font-size: 24px;
    text-decoration: none;
    padding: 0 24px;
    display: inline-block;
    line-height: 46px;
}
.nav li:hover a{
   color: aqua;
   background-color:#BEBEBE ;
}
ul{
    margin: 50px 30px 0 30px;
    display: inline-block;
}
.heading-nav .cart_btn, .user_btn{
    color: black;
}
.cart_btn{
    float: right;
    padding: 60px;
    margin-left: 60px;
    font-size: 24px;
    display: inline-block;
}
.cart_btn:hover{
    color: aqua;
   cursor: pointer;
}
.user_btn{
    float: right;
    padding: 60px;
    font-size: 24px;
   
}
.user_btn:hover{
    color: aqua;
    cursor: pointer;
}